header {
    display: block;
    width: 100%;
    height: 90px;
    margin: 0 auto;
    padding: 0 10px;
    background: #252a3b;
}

.wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 980px;

    .logo {
        display: block;
        width: 120px;
        position: absolute;
        left: 10px; top: 90%;
        -webkit-transform: translateY(-90%);
        -moz-transform: translateY(-90%);
        transform: translateY(-90%);
    }

    img {
        display: block;
        width: 100%;
    }
}